.nav-link {
	color: #fff;
	margin: 2rem 0;
	display: flex;
	padding: 5px;
	transition: all 0.3s ease-in;
}

.arrow-right {
	color: transparent;
	transition: color 0.3s ease-in;
}

.nav-link.activated,
.nav-link:hover {
	background-color: white;
	color: #051942;
	border-radius: 4px;
}

.nav-link.activated .arrow-right,
.nav-link:hover .arrow-right {
	color: #051942;
}

/* Cuboid Styles */
.cuboid {
	width: 200px;
	height: 200px;
	margin: 50px 20px;
	background-color: #ccc;
	position: relative;
	/* display: inline-block; */
}

.cuboid-rt:before {
	content: '';
	height: 200px;
	width: 20px;
	background-color: #adacac;
	position: absolute;
	left: 100%;
	top: calc(-20px / 2);
	transform: skew(0, -45deg);
}

.cuboid-rt:after {
	content: '';
	width: 200px;
	height: 20px;
	background-color: #999797;
	position: absolute;
	top: -20px;
	left: calc(20px / 2);
	transform: skew(-45deg);
}
